/*通用*/ 
body{
    font:12px "microsoft yahei",Arial,Helvetica,sans-serif;
    margin:0;
    padding:0;
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
    margin:0;
    padding:0;
    list-style:none;
}
img{
    vertical-align:bottom;
}
a{
    color:#333;
    text-decoration:none;
}
a:hover{
    color:#ff0700;
    text-decoration:underline;
}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}
#herder-top,#top-main,#nav,#banner,#main,#foot-box,#footer{
    margin:0 auto;
}

/*1.顶部菜单栏*/
#header-top{
    height:45px;
    background: #f8f8f8;
    border-bottom:1px solid #eee;
    width:100%;
}
#header-top>.header-inner{
    width:1200px;
    height:45px;
    margin:0 auto;
    position:relative;
}
#header-top>.header-inner>ul>li>a:hover{
    text-decoration: none;
    color:#E4393C;
}
#header-top>.header-inner>ul.lf{
    width:350px;
}
#header-top>.header-inner>ul.lf>li{
    float:left;
    line-height: 45px;
    width:35px;
    text-align: center;
}
#header-top>.header-inner>ul.lf>li:last-child>img{
    width:200px;
    height:38px;
    margin-bottom: 10px;
}
#header-top>.header-inner>ul.lf>li.reg_log{
    width:200px;
}
#header-top>.header-inner>ul.lf>li>#wel-user{
    color:#005ea4;
    width:210px;
    font-size: 13px;
    text-align: left;
}
#header-top>.header-inner>ul.rt{
    width:676px;
}
#header-top>.header-inner>ul.rt>li{
    float:left;
    line-height:45px;
    height:45px;
    width:80px;
    text-align: center;
}
#header-top>.header-inner>ul.rt>li:nth-child(7){
    width:50px;
}
#header-top>.header-inner>ul.rt>li:nth-child(8){
    width:50px;
}
#header-top>.header-inner>ul.rt>li:nth-child(9){
    width:50px;
}
#header-top>.header-inner>ul.rt>li:nth-child(10){
    width:50px;
}
#header-top>.header-inner>ul.rt>li>a.my-order>i.glyph{
    background: url(img/top-list.png) no-repeat -8px -13px;
    position: absolute;
    width:5px;
    height:3px;
    top:20px;
    right:281px;
}
#header-top>.header-inner>ul.rt>li>a.my-order>i.glyph:hover{
    background-position: -16px -13px;
}
#order-menu{
    position:absolute;
    top:0;
    right:0;
    z-index: 10;
    display: none;
}
#header-top>.header-inner>ul.rt>li>a.net-map>i.glyph{
    background: url(img/top-list.png) no-repeat -8px -13px;
    width:5px;
    height:3px;
    position: absolute;
    top:20px;
    right:202px;
}
#header-top>.header-inner>ul.rt>li>a.net-map>i.glyph:hover{
    background-position: -16px -13px;
}
#header-top>.header-inner>ul.rt>li>a.weixin{
    background: url(img/top-list.png) no-repeat -63px -49px;
    width:19px ;
    height:14px;
    position: absolute;
    top:17px;
    right:147px;
}
#header-top>.header-inner>ul.rt>li>a.weixin:hover{
    background-position: -92px -6px;
}
#header-top>.header-inner>ul.rt>li.iphone{
    text-align: right;
}
#header-top>.header-inner>ul.rt>li.iphone>a>img{
    vertical-align: middle;
}
#header-top>.header-inner>ul.rt>li>a.weibo{
    background: url(img/top-list.png) no-repeat -40px -50px;
    width:19px ;
    height:14px;
    position: absolute;
    top:17px;
    right:55px;
}
#header-top>.header-inner>ul.rt>li>a.weibo:hover{
    background-position: -86px -50px;
}
#header-top>.header-inner>ul.rt>li>a.letter{
    background: url(img/xin-icon.png) no-repeat;
    width:15px ;
    height:10px;
    position: absolute;
    top:18px;
    right:11px;
}
#header-top>.header-inner>ul.rt>li>a.letter:hover{
    background: url(img/xin-icon1.png) no-repeat;
    width:15px ;
    height:10px;
}
/*2.搜索部分*/
#top-main{
    width:100%;
    height:100px;
}
#top-main>.header-inner{
    width:1200px;
    height:100px;
    margin:0 auto;
    position: relative;
}
#top-main>.header-inner>ul>li{
    float:left;
}
#top-main>.header-inner>ul>li:nth-child(1){
    width:190px;
}
#top-main>.header-inner>ul>li:nth-child(2){
    width:150px;
}
#top-main>.header-inner>ul>li:first-child img{
    height:100px;
    width:280px;
}
/*西安站*/
#station{
    margin-top:25px;
}
#station>p>a.xian-station>i.glyph{
    background: url(img/top-list.png) no-repeat -8px -13px;
    width:5px;
    height:3px;
    position: absolute;
    top:31px;
    left:231px;
}
#station>p>a.xian-station>i.glyph:hover{
    background-position: -16px -13px;
}
#station a:hover{
    text-decoration: none;
}
#servers>div.lf{
    margin-left: 8px;
    margin-top:-7px;
}
#servers>div.lf>img{
    margin-top:5px;
}
#servers>div.lf:last-child>img{
    margin-top:-23px;
}
/*搜索框*/
#top-main>.header-inner>ul>li:nth-child(3){
    width:569px;
}
#search{
    width:460px;
    height:40px;
    margin-left: 15px;
    margin-top:-15px;
    border:2px solid #FF8800;
    position: relative;
}
#search>span{
    display: inline-block;
    width:80px;
    height:39px;
    line-height: 39px;
    text-align: center;
    border-right:1px solid #E5E5E5;
    background:#F8F8F8;
}
#search>span{
    cursor: default;
}
#search>span>i.glyph{
    background: url(img/top-list.png) no-repeat -8px -13px;
    position: absolute;
    top:17px;
    left:67px;
}
#search>span>i.glyph:hover{
    background-position: -16px -13px;
}
#search>input{
    width:345px;
    height:36px;
    line-height:36px;
    border:none;
    outline: none;
}
#search>ul.cities{
    position:absolute;
    top:2px;
    right:80px;
    display: block;
}
#search>ul.cities>li{
    float:left;
    display: inline-block;
    width:36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #F8F8F8;
    border-radius:5px;
    margin-left: 5px;
}
#search>ul.cities>li>a:hover{
    text-decoration: none;
}
#search>button{
    width:65px;
    height:42px;
    background: #FF8800;
    border:none;
    position:absolute;
    top:0;
    right:0;
    color:#38414C;
}
#search a.adv-search{
    position:absolute;
    top:13px;
    right:-60px;
    display: inline-block;
}
#search a.adv-search:hover{
    text-decoration: none;
    color:#333;
    cursor: default;
}
#search a.adv-search>i.glyph{
    background: url(img/top-list.png) no-repeat -8px -13px;
    width:5px ;
    height:3px;
    position: absolute;
    top:6px;
    left:52px;
}
#search a.adv-search>i.glyph:hover{
    background-position: -16px -13px;
}
/*3.导航栏部分*/
#nav{
    width:100%;
    height:40px;
    background: #2DBB55;
    margin-top:5px;
}
#nav>.nav-menu{
    width:1200px;
    height:40px;
    margin:0 auto;
    position:relative;
}
#nav>.nav-menu>ul>li{
    float:left;
    width:70px;
    height:40px;
    line-height: 40px;
    text-align: center;
}
#nav>.nav-menu>ul>li:hover{
    background: #4ecf5b;
}
#nav>.nav-menu>ul>li>a{
    display: inline-block;
    width: 70px;
    height:26px;
    line-height: 26px;
    text-align: center;
    color:#fff;
    font-size:16px;
    border-right:1px solid #11A13A;
}
/*下拉菜单*/
#txt-menu{
    width:100%;
    height:40px;
    background: #fff;
    position: absolute;
    z-index: 150;
    display: none;
}
#txt-menu>ul{
    width: 1200px;
    height:40px;
    margin:0 auto;
}
#txt-menu>ul>li{
    float:left;
    line-height: 40px;
    margin: 0 20px;
}
#team-travel:hover #txt-menu{
    display: block;
}

#nav>.nav-menu>ul>li:first-child{
    background: #11A13A;
    width: 60px;
}
#nav>.nav-menu>ul>li:first-child>a{
    width:55px;
    border-right:none;
}
#nav>.nav-menu>ul>li:nth-child(14){
    width: 86px;
}
#nav>.nav-menu>ul>li:nth-child(14)>a{
    width: 86px;
}
#nav>.nav-menu>ul>li:last-child{
    width:70px;
}
#nav>.nav-menu>ul>li:last-child>a{
    width:70px;
}
#nav>.nav-menu>ul>li>a:hover{
    text-decoration: none;
}
#nav>.nav-menu>ul>li>a>span{
    font-size:10px;
}
#nav>.nav-menu>ul>li>a>i.glyph-down{
    background: url(img/top-list2.png) no-repeat -32px -456px;
    display:inline-block;
    width:5px ;
    height:3px;
    position: relative;
    top:-4px;
}
#nav>.nav-menu>ul>li:hover a>i.glyph-down{
    background-position: -32px -459px;
}
/*图片轮播*/
#container{
    width:100%;
    height:440px;
	margin:0 auto;
	overflow: hidden;
}
#container>.slider{
    width:9000px;
    height:440px;
    position:absolute;
	left:0;
	overflow: hidden;
	z-index: 1;
}
#container>.slider>img{
    margin:0 auto;
    width:100%;
    height:440px;
    display:block;
	float:left;
}
#container div.header-catelog{
    width:1200px;
    height:440px;
    margin:0 auto;
    position:absolute;
    top:190px;
    left:50%;
	margin-left:-600px;
    z-index: 100;
}

#container>.header-catelog>ul.txt{
    position: absolute;
    top:275px;
    left:239px;
}
#container>.header-catelog>ul.txt>li{
    width:116px;
    height:20px;
    line-height: 20px;
    background: #FCF8EE;
    float:left;
    margin-right: 5px;
    text-align: center;
}
#container>.header-catelog>ul.txt>li:last-child{
    margin-right:0;
}
#container>.header-catelog>ul.txt>li:hover{
    background: #2D464D;
}
#container>.header-catelog>ul.txt>li:hover a{
    color:#fff;
    text-decoration: none;
}
#container>.header-catelog>ul.slider-small{
    width:1100px;
    height:122px;
    position: absolute;
    bottom:12px;
    left: 239px;
}
#container>.header-catelog>ul.slider-small>li{
    float:left;
    width:100px;
    height:122px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#container>.header-catelog>ul.slider-small>li.active{
    width:122px;
    height:122px;
}
#container>.header-catelog>ul.slider-small>li>img{
    width: 222px;
    height:122px;
    position:absolute;
    left:0;
    top:0;
    transition: all 0.2s linear;
}
#container>.header-catelog>ul.slider-small>li.active img{
    left:-100px;
}
/*左边的列表栏 一级菜单*/
#left-box{
    position:absolute;
    left:0;
    bottom:12px;
    background: #fff;
    width:230px;
    height:413px;
}
#left-box>ul.lf>li{
    width:76px;
    height:57px;
    text-align: center;
    background: #38414C;
    border:1px solid #fff;
}
#left-box>ul.lf>li:hover{
    background: #fff;
}
#left-box>ul.lf>li:hover a{
    color:#2EA536;
}
#left-box>ul.lf>li>a{
    display: block;
    width: 76px;
    height:38px;
    color:#fff;
    margin-bottom: -6px;
}
#left-box>ul.lf>li>a:hover{
    text-decoration: none;
}
#left-box>ul.lf>li:first-child>a>i{
    background: url(img/catalog.png) no-repeat 1px 1px;
    width:20px;
    height:21px;
    position: absolute;
    top:8px;
    left:29px;
}
#left-box>ul.lf>li:first-child:hover>a>i{
    background-position: 1px -24px;
}
#left-box>ul.lf>li:nth-child(2)>a>i{
    background: url(img/catalog.png) no-repeat -40px 1px;
    width:20px;
    height:21px;
    position: absolute;
    top:69px;
    left:31px;
}
#left-box>ul.lf>li:nth-child(2):hover>a>i{
    background-position: -40px -24px;
}
#left-box>ul.lf>li:nth-child(3)>a>i{
    background: url(img/catalog.png) no-repeat -60px 1px;
    width:20px;
    height:21px;
    position: absolute;
    top:128px;
    left:33px;
}
#left-box>ul.lf>li:nth-child(3):hover>a>i{
    background-position: -60px -24px;
}
#left-box>ul.lf>li:nth-child(4)>a>i{
     background: url(img/catalog.png) no-repeat -20px 1px;
     width:20px;
     height:21px;
     position: absolute;
     top:186px;
     left:31px;
 }
#left-box>ul.lf>li:nth-child(4):hover>a>i{
    background-position: -19px -27px;
}
#left-box>ul.lf>li:nth-child(5)>a>i{
    background: url(img/catalog.png) no-repeat -80px 1px;
    width:20px;
    height:21px;
    position: absolute;
    top:246px;
    left:32px;
}
#left-box>ul.lf>li:nth-child(5):hover>a>i{
    background-position: -81px -24px;
}
#left-box>ul.lf>li:nth-child(6)>a>i{
    background: url(img/catalog.png) no-repeat -100px 1px;
    width:20px;
    height:21px;
    position: absolute;
    top:306px;
    left:31px;
}
#left-box>ul.lf>li:nth-child(6):hover>a>i{
    background-position: -99px -26px;
}
#left-box>ul.lf>li:nth-child(7)>a>i{
    background: url(img/catalog.png) no-repeat -120px 1px;
    width:20px;
    height:21px;
    position: absolute;
    top:367px;
    left:33px;
}
#left-box>ul.lf>li:nth-child(7):hover>a>i{
    background-position: -120px -26px;
}
#left-box>ul.rt>li{
    width:152px;
    height:42px;
    text-align: center;
    border-bottom: 1px dotted #cccccc;
}
#left-box>ul.rt>li:last-child{
    border-bottom: none;
}
#left-box>ul.rt>li>div.big-tt>a{
    color:#333;
    font-weight: bold;
    font-size: 16px;
}
#left-box>ul.rt>li>div.big-tt>a:hover{
    color:#FF8400;
    text-decoration: none;
}
#left-box>ul.rt>li>div.big-tt{
    margin-top: 3px;
    margin-bottom: 2px;
}
#left-box>ul.rt>li>p.sml-tt>a{
    color:#999;
}
#left-box>ul.rt>li>p.sml-tt>a:hover{
    color:#FF8400;
    text-decoration: none;
}
/*右边的列表栏 一级菜单*/
#right-box{
    position:absolute;
    right:0;
    bottom:12px;
    background: #fff;
    width:230px;
    height:413px;
}
#right-box>.hot-point{
    background: url(img/hot-icon.png) no-repeat 1px 0px;
    width:66px;
    height:65px;
    margin-top: 10px;
    margin-left:10px;
    margin-bottom: 10px;
}
#right-box>.hot-point>.hot-num{
    position: absolute;
    z-index: 10;
    left:20px;
    top:23px;
    color:#e4393c;
    font-size: 20px;
}
#right-box>.hot-point>.hot-du{
    position: absolute;
    z-index: 10;
    left:50px;
    top:26px;
    color:#e38d13;
    font-size: 16px;
}
#right-box>.hot-point>.hot-txt{
    position: absolute;
    z-index: 10;
    left:27px;
    top:46px;
    color:#e4393c;
    font-size: 12px;
}
#right-box>p{
    margin:20px 0 -13px 26px;
    color:#999;
}
#text-ad{
    width:230px;
    height:55px;
    overflow: hidden;
    border-bottom:1px solid #d9edf7;
    color:#888;
}
#text-ad>ul{
    margin-top: 0;
}
#text-ad>ul>li{
    width:220px;
    height:55px;
    padding:0 5px;
    margin-top:0;
}
#text-ad>ul>li>a{
    text-decoration: none;
    color:#333;
}
#text-ad>ul>li>p{
    width:222px;
    margin-right: 2px;
    margin-top:5px;
}
#ad-coo{
    width:230px;
    height:85px;
}
#ad-coo>img{
    width:230px;
    height:85px;
    border-bottom: 1px solid #d9edf7;
}
#hot-current{
    width:230px;
    height:65px;
}
#hot-current>img{
    width:230px;
    height:65px;
}
#hot-current>p{
    width:230px;
    height:20px;
    background: #f5f5f5;
    font-size: 15px;
    text-align: center;
}
#current-mainl{
    width:110px;
    border-right:1px solid #d9edf7;
    margin-top:20px;
}
#current-mainr{
    width:110px;
    margin-top:20px;
}
#current-mainl>a{
    display: block;
    margin:3px 7px 4px 14px;
    line-height:27px ;
}
#current-mainl>a:hover{
    text-decoration: none;
}
#current-mainr>a{
    display: block;
    margin:3px 10px 4px 12px;
    line-height:27px ;
}
#current-mainr>a:hover{
    text-decoration: none;
}
#current-mainl>a>img{
    width:28px;
    height:28px;
}
#current-mainr>a>img{
    width:28px;
    height:28px;
}
/*热门活动*/
#main-top{
    margin:25px;
}
#main-top>.clearfix{
    width:1200px;
    height:208px;
    margin:0 auto;
    position: relative;
    overflow: hidden;
}
#main-top>.clearfix>.content-lf{
    width:975px;
}
#main-top>.clearfix>.content-lf>ul{
    width:975px;
    float:left;
    margin-bottom:10px;
    border-bottom: 3px solid #ECEEF4;
}
#main-top>.clearfix>.content-lf>ul>li{
    float:left;
    margin-right: 40px;
}
#main-top>.clearfix>.content-lf>ul>li>a{
    font-size: 16px;
}
#main-top>.clearfix>.content-lf>ul>li>a:hover{
    color:#22C231;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid #22C231;
}
#main-top>.clearfix>.content-lf>ul>li.more{
    width:40px;
    height:20px;
    margin-right: 0;
    margin-left:69px;
}
#main-top>.clearfix>.content-lf>ul>li.more>a{
    font-size: 13px;
    float:left;
    padding-top:3px;
}
#main-top>.clearfix>.content-lf>ul>li.more>a{
    color:#333;
    text-decoration: none;
    font-weight: normal;
    border-bottom: none;
}
#main-top>.clearfix>.content-lf ul.content-lf-img>li{
    margin-right: 0;
    position: absolute;
    opacity:0;
}
#main-top>.clearfix>.content-lf ul.content-lf-img>li.show{
    opacity:1;
}
#main-top>.clearfix>.content-lf ul.content-lf-img>li>img{
    width:230px;
    height:172px;
    float:left;
    margin-right: 18px;
}
#main-top>.clearfix>.content-lf ul.content-lf-img>li>img:last-child{
    margin-right: 0;
}
#main-top>.clearfix>.content-rt{
    width:210px;
    height:205px;
}
#main-top>.clearfix>.content-rt>ul{
    width:210px;
    float:left;
}
#main-top>.clearfix>.content-rt>ul:first-child{
    border-bottom: 3px solid #ECEEF4;
}
#main-top>.clearfix>.content-rt>ul:first-child>li{
    font-size: 16px;
}
#main-top>.clearfix>.content-rt>ul:first-child>li:last-child>img{
    width:80px;
    height:20px;
    float:right;
}
#main-top>.clearfix>.content-rt>ul:last-child>li{
    margin:18px 0 20px 0;
}
#main-top>.clearfix>.content-rt>ul:last-child>li>a:hover{
    text-decoration: none;
}
#main-top>.clearfix>.content-rt>ul>li:hover{
    background: #eee;
}
/*楼层右边*/
#main-body>.details-rt{
    width:200px;
    height:424px;
}
#main-body>.details-rt>ul>li a{
    text-decoration: none;
    color:#333;
}
#main-body>.details-rt>ul>li{
    width:200px;
}
#main-body>.details-rt>ul>li>a>img{
    width:200px;
    height:90px;
}
#main-body>.details-rt>ul{
    width:200px;
    margin-bottom:20px;
}
#main-body>.details-rt>ul:first-child>li{
    border-bottom: 1px dotted #ddd;
}
#main-body>.details-rt>ul:first-child>li:last-child{
    border-bottom:none;
}
#main-body>.details-rt>ul:nth-child(3){
    background:#F6F6F6 ;
    height:515px;
    width:200px;
}
#main-body>.details-rt>ul:nth-child(3)>li>img{
    width:60px;
    height:60px;
    margin-bottom: 10px;
}
#main-body>.details-rt>ul:nth-child(3)>li{
    width:180px;
    height:80px;
    background: #fff;
    margin:0 10px;
}
#main-body>.details-rt>ul:nth-child(3)>li:first-child{
    font-weight: bold;
    font-size: 16px;
    padding-top:15px ;
    padding-left:10px;
    height:45px;
    background: none;
}
#main-body>.details-rt>ul:nth-child(3)>li:first-child>a:hover{
    color:#333;
    text-decoration: none;
}
#main-body>.details-rt>ul:nth-child(3)>li:nth-child(2){
    height: 19px;
    border-bottom: 2px solid #EDEEF3;
    text-align: center;
    margin-bottom: 20px;
    background: none;
}
#main-body>.details-rt>ul:nth-child(3)>li:nth-child(2)>a{
    display: inline-block;
    width:57px;
    font-size: 14px;
}
#main-body>.details-rt>ul:nth-child(3)>li:nth-child(2)>a:first-child{
    color:#22C231;
    border-bottom: 2px solid #22C231;
}
#main-body>.details-rt>ul:nth-child(3)>li:nth-child(2)>a:hover{
    text-decoration: none;
    color:#666;
}
#main-body>.details-rt>ul:nth-child(3)>li>div.rt{
    overflow: hidden;
    margin-bottom: 10px;
    padding-right:5px;
}
#main-body>.details-rt>ul:nth-child(3)>li>div.rt>h6>a:hover{
    color:#333;
    text-decoration: none;
    cursor: pointer;
}
#main-body>.details-rt>ul:nth-child(3)>li>div.rt>p{
    margin:5px 0;
    cursor: pointer;
}
#main-body>.details-rt>ul:nth-child(3)>li>div.rt>span>i{
    color:#FF6600;
    font-style:normal;
}
#main-body>.details-rt>ul:nth-child(4){
    background:#F6F6F6 ;
    height:500px;
    width:200px;
}
#main-body>.details-rt>ul:nth-child(4)>li>a>img{
    width:180px;
    height:70px;
    margin-left:10px;
    border-bottom: 1px dotted #ddd;
}
#main-body>.details-rt>ul:nth-child(4)>li:first-child{
    padding-top:15px ;
    padding-left:10px;
    height:45px;
}
#main-body>.details-rt>ul:nth-child(4)>li:first-child>a{
    color:#333;
    font-size: 16px;
    font-weight: bold;
}
#main-body>.details-rt>ul:nth-child(5){
    background:#F6F6F6 ;
    height:145px;
    width:200px;
}
#main-body>.details-rt>ul:nth-child(5)>li:first-child{
    padding-top:15px ;
    padding-left:10px;
    height:45px;
}
#main-body>.details-rt>ul:nth-child(5)>li:first-child>a{
    color:#333;
    font-size: 16px;
    font-weight: bold;
}
#main-body>.details-rt>ul:nth-child(5)>li:first-child>span.actions{
    color:#666;
    font-size: 12px;
    display:block;
    width:36px;
    height:16px;
    position: relative;
    top:20px;
    right:10px;
}
#main-body>.details-rt>ul:nth-child(5)>li:first-child>span.actions>i.icon_left{
    background: url(img/index_icon.png) no-repeat 0 -36px;
    display: inline-block;
    height:16px;
    width: 16px;
}
#main-body>.details-rt>ul:nth-child(5)>li:first-child>span.actions>i.icon_right{
    background: url(img/index_icon.png) no-repeat -18px  -36px;
    display: inline-block;
    height:16px;
    width: 16px;
}
#main-body>.details-rt>ul:nth-child(5)>li:last-child>img{
    width:60px;
    height:60px;
    margin-bottom: 10px;
}
#main-body>.details-rt>ul:nth-child(5)>li:last-child{
    width:180px;
    height:62px;
    background: #fff;
    margin:10px 10px 0 10px;
}
#main-body>.details-rt>ul:nth-child(5)>li:last-child>div.lf>p{
    margin:5px 0;
    cursor: pointer;
}
#main-body>.details-rt>ul:nth-child(5)>li:last-child>div.lf>span>i{
    color:#FF6600;
    font-style:normal;
}
#main-body>.details-rt>ul:nth-child(6){
    background:#F6F6F6 ;
    height:150px;
    width:200px;
}
#main-body>.details-rt>ul:nth-child(6)>li:first-child{
    padding-top:15px ;
    padding-left:10px;
    height:45px;
}
#main-body>.details-rt>ul:nth-child(6)>li:first-child>a{
    color:#333;
    font-size: 16px;
    font-weight: bold;
}
#main-body>.details-rt>ul:nth-child(6)>li:first-child>span.actions{
    color:#666;
    font-size: 12px;
    display:block;
    width:36px;
    height:16px;
    position: relative;
    top:20px;
    right:10px;
}
#main-body>.details-rt>ul:nth-child(6)>li:first-child>span.actions>i.icon_left{
    background: url(img/index_icon.png) no-repeat 0 -36px;
    display: inline-block;
    height:16px;
    width: 16px;
}
#main-body>.details-rt>ul:nth-child(6)>li:first-child>span.actions>i.icon_right{
    background: url(img/index_icon.png) no-repeat -18px  -36px;
    display: inline-block;
    height:16px;
    width: 16px;
}
#main-body>.details-rt>ul:nth-child(6)>li:last-child>div{
    width:60px;
    height:80px;
    text-align: center;
    margin:0 3px;
}
#main-body>.details-rt>ul:nth-child(6)>li:last-child>div>img{
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    background: #fff;
    padding:3px;
}
#main-body>.details-rt>ul:nth-child(6)>li:last-child{
    width:200px;
    height:62px;
    margin-left: 2px;
}
#main-body>.details-rt>ul:nth-child(7){
    background:#F6F6F6 ;
    height:520px;
    width:200px;
    overflow: hidden;
    margin-top:0;
}
#main-body>.details-rt>ul:nth-child(7)>li{
    height:225px;
}
#main-body>.details-rt>ul:nth-child(7)>li:first-child{
    padding-top:15px ;
    padding-left:10px;
    height:45px;
}
#main-body>.details-rt>ul:nth-child(7)>li:first-child>a{
    color:#333;
    font-size: 16px;
    font-weight: bold;
}
#main-body>.details-rt>ul:nth-child(7)>li>div{
    width:195px;
    height:30px;
    line-height: 30px;
    background: #EEEFF2;
    margin:10px 0;
    padding-left: 5px;
}
#main-body>.details-rt>ul:nth-child(7)>li>div>i{
    background: url(img/index_icon.png) no-repeat -40px -35px;
    width:9px;
    height:11px;
    display: inline-block;
    position: relative;
    left:-135px;
    top:20px;
}
#main-body>.details-rt>ul:nth-child(7)>li>p{
    padding:0 20px 0 15px;
    margin:10px 0;
    overflow: hidden;
}
#main-body>.details-rt>ul:nth-child(7)>li>p:first-child{
    color:#333;
}
#main-body>.details-rt>ul:nth-child(7)>li>p:first-child>a{
    font-size: 13px;
}
#main-body>.details-rt>ul:nth-child(7)>li>p:last-child{
    color:#666;
}
#main-body>.details-rt>ul:nth-child(8)>li{
    margin-top:20px;
}
/*楼层左边*/
#main-body{
    margin:0 auto;
    width:1200px;
    min-height:2885px;
}
#main-body>.details-lf{
    width:990px;
    height:431px;
}
#main-body>.details-lf>.layer-header{
    width:990px;
    border-bottom: 3px solid #e4393c;
}
#main-body>.details-lf>.layer-header>h2{
    float:left;
    margin-bottom: 3px;
}
#main-body>.details-lf>.layer-header>h2.hover{
    color:#08AFB1;
}
#main-body>.details-lf>.layer-header>ul{
    width:832px;
    float:left;
    margin-top:5px;
    margin-left: 85px;
}
#main-body>.details-lf>.layer-header>ul>li{
    float:left;
    margin:0 28px;
}
#main-body>.details-lf>.layer-header>ul>li>a{
    font-size: 14px;
}
#main-body>.details-lf>.layer-header>ul>li>a:hover{
    text-decoration: none;
}
#main-body>.details-lf .details-lf-imgs{
    background: url(img/floor1-bg.jpeg) no-repeat;
    width:990px;
    height:424px;
    overflow: hidden;
}
#main-body>.details-lf .details-lf-imgs>ul{
    margin-left:245px;
    padding-top:5px;
    float:left;
}
#main-body>.details-lf .details-lf-imgs>ul>li{
    float:left;
    margin:5px;
    width:227px ;
    height:175px;
    text-align: center;
    background: #fff;
    padding:10px 5px;
    position:relative;
    overflow: hidden;
}
#main-body>.details-lf .details-lf-imgs>ul>li>a>img{
    width:220px ;
    height:150px;
}
#main-body>.details-lf .details-lf-imgs>ul>li>a.pro-mess{
    position: absolute;
    left:9px;
    bottom:35px;
    width: 220px;
    background: #1F2329;
    color:#fff;
    padding:3px 0;
}
#main-body>.details-lf .details-lf-imgs>ul>li>a.pro-mess:hover{
    text-decoration: none;
}
#main-body>.details-lf .details-lf-imgs>ul>li>a.pro-mess>span{
    font-weight: bold;
}
#main-body>.details-lf .details-lf-imgs>ul>li span.lf{
    color:#FF6600;
    font-size: 22px;
    font-weight: bold;
    padding:3px 0 10px 8px;
}
#main-body>.details-lf .details-lf-imgs>ul>li span.rt{
    padding:10px 8px 10px 3px;
}

/*二楼：出境长线*/
#main-body>.details-lf>.layer2{
    margin-top:30px;
    border-bottom: 3px solid #ECEEF4;
}
#main-body>.details-lf>.layer2>ul{
    margin-left: 142px;
    margin-top: 5px;
    width:776px;
}
#main-body>.details-lf>.layer2>ul>li{
    width:30px;
    margin:0;
    margin-left:50px;
    text-align: center;
}
#main-body>.details-lf>.layer2>ul>li:last-child{
    margin-left:128px;
}
#main-body>.details-lf>.layer2>ul>li>a{
    border-bottom: 3px solid transparent;
    display: inline-block;
    width:48px;
    height:22px;
    margin-bottom: -3px;
}
#main-body>.details-lf>.layer2>ul>li>a:hover{
    color:#005ea4;
    border-bottom: 3px solid #005ea4;
}
#main-body>.details-lf>.layer2>ul>li:last-child>a:hover{
    color:#333;
    text-decoration: none;
    font-weight: normal;
    border-bottom: none;
}
#main-body>.details-lf> .details-lf-imgs1{
    width:245px;
    height:424px;
}
#main-body>.details-lf> .details-lf-imgs1>ul>li{
    float:left;
    list-style: disc;
    margin:10px 0 10px 30px;
    width:92px;
}
#main-body>.details-lf> .details-lf-imgs1>ul>li:first-child{
    width:165px;
    height:25px;
    list-style: none;
    margin-left:15px;
}
#main-body>.details-lf> .details-lf-imgs1>ul>li:first-child>a{
    font-size: 16px;
    font-weight: bold;
}
#main-body>.details-lf> .details-lf-imgs1>ul>li>a:hover{
    text-decoration: none;
    color:#FF6600;
}
#main-body>.details-lf> .details-lf-imgs1>ul>li:first-child>a:hover{
    text-decoration: none;
    color:#333;
}
#main-body>.details-lf> .details-lf-imgs1>ul>li:last-child{
    margin-top:10px;
    margin-left:15px;
    list-style: none;
}
#main-body>.details-lf> .details-lf-imgs1>ul>li>img{
    width:232px;
    height:200px;
}
#main-body>.details-lf>.details-lf-imgs2{
    background: none;
    width:738px;
    height:384px;
   padding-top:20px;
}
#main-body>.details-lf>.details-lf-imgs2>ul{
    margin-left:0;
    padding:0;
}
#main-body>.details-lf>.details-lf-imgs2>ul>li{
    margin:0 0 15px 10px;
    padding:0;
    width:236px;
    height:177px;
}
#main-body>.details-lf>.details-lf-imgs2>ul>li>a.pro-mess{
    width:232px;
    bottom:27px;
    left:2px;
}
#main-body>.details-lf>.details-lf-imgs2>ul>li>a>img{
    width:232px;
}
#main-body>.details-lf>.details-lf-imgs2>ul>li>a>i{
    background: url(img/niuzhuan.jpg) no-repeat;
    position: absolute;
    right:2px;
    top:0;
    display: block;
    width: 64px;
    height:20px;
}
/*3.周边旅游*/
#main-body>.details-lf>.layer2{
    margin-top:30px;
    border-bottom: 3px solid #ECEEF4;
}
#main-body>.details-lf>.layer2>ul.travel-around{
    margin-left: 142px;
    margin-top: 5px;
    width:776px;
}
#main-body>.details-lf>.layer2>ul.travel-around>li{
    width:35px;
    margin:0;
    margin-left:47px;
    text-align: center;
}
#main-body>.details-lf>.layer2>ul.travel-around>li:last-child{
    margin-left: 108px;
}
#main-body>.details-lf>.layer2>ul.travel-around>li>a{
    border-bottom: 3px solid transparent;
    display: inline-block;
    width:71px;
    height:22px;
    margin-bottom: -3px;
}
#main-body>.details-lf>.layer2>ul.travel-around>li>a:hover{
    color:#08AFB1;
    border-bottom: 3px solid #08AFB1;
}
#main-body>.details-lf>.layer2>ul.travel-around>li:last-child>a:hover{
    color:#333;
    text-decoration: none;
    font-weight: normal;
    border-bottom: none;
}
/*4.主题旅游*/
#main-body>.details-lf>.layer2>ul.theme-travel>li>a:hover{
    color:#FF6600;
    border-bottom: 3px solid #FF6600;
}
/*5.国内旅游*/
#main-body>.details-lf>.layer2>ul.inner-travel>li>a:hover{
    color:#CF5EB1;
    border-bottom: 3px solid #CF5EB1;
}

/*游记攻略*/
#main-body>.details-lf>.travel-guide{
    border-bottom: none;
}
#main-body>.details-lf>.travel-guide>ul:first-child{
    margin-top:30px;
    margin-left:0;
    border-bottom: 3px solid #ECEEF4;
    width:990px;
}
#main-body>.details-lf>.travel-guide>ul:first-child>li{
    margin-bottom:5px;
    margin-left:0;
}
#main-body>.details-lf>.travel-guide>ul:first-child>li:first-child>a{
    color:#333;
    font-weight: bold;
    font-size: 1.5em;
}
#main-body>.details-lf>.travel-guide>ul:first-child>li.rt{
    width:120px;
    position: relative;
    top:3px;
}
#main-body>.details-lf>.travel-guide>ul:first-child>li:nth-child(2){
    margin-left: 538px;
}
#main-body>.details-lf>.travel-guide>ul:first-child>li:nth-child(2)>i{
    background: url(img/index_icon.png) no-repeat 0 -121px;
    display: inline-block;
    width:18px ;
    height:18px;
    position: absolute;
    top:1px;
    left:-21px;
}
#main-body>.details-lf>.travel-guide>ul:first-child>li:nth-child(2)>a:hover{
    color:#11A13A;
}
#main-body>.details-lf>.travel-guide>ul:first-child>li:nth-child(3)>a{
    font-size: 15px;
    color:#11A13A;
}
#main-body>.details-lf>.travel-guide>ul:first-child>li:nth-child(3)>i{
    background: url(img/index_icon.png) no-repeat -21px -121px;
    display: inline-block;
    width:24px ;
    height:18px;
    position: absolute;
    top:3px;
    left:-30px;
}
#main-body>.details-lf>.travel-guide>ul:nth-child(2){
    margin-left: 0;
}
#main-body>.details-lf>.travel-guide>ul:nth-child(2)>li{
    background: #11A13A;
    padding:8px;
    margin:8px 45px 10px 0;
}
#main-body>.details-lf>.travel-guide>ul:nth-child(2)>li:last-child{
    margin-right: 0;
}
#main-body>.details-lf>.travel-guide>ul:nth-child(2)>li>a{
    font-size: 15px;
}
#main-body>.details-lf>.travel-guide>ul:nth-child(2)>li>a:hover{
    color:#666;
}
#main-body>.details-lf>.travel-guide>ul:nth-child(3){
    margin-left: 0;
    width:990px;
}
#main-body>.details-lf>.travel-guide>ul:nth-child(3)>li:first-child{
    margin-left: 0;
}
#main-body>.details-lf>.travel-guide>ul:nth-child(3)>li{
    margin:8px;
    float:left;
}
#main-body>.details-lf>.travel-guide>ul:nth-child(3)>li>ul>li>img{
    width:235px;
    height:157px;
    margin:0 5px;
    float:left;
}
#main-body>.details-lf>.travel-guide>ul:nth-child(3)>li>ul>li>img:last-child{
    margin-top:16px;
}
#main-body>.details-lf>.travel-guide>ul:nth-child(3)>li:first-child>img{
    width:235px;
    height:330px;
}
#main-body>.details-lf>.travel-guide>ul:nth-child(3)>li:last-child{
    margin:8px 0 8px 0;
    float:right;
}
#main-body>.details-lf>.travel-guide>ul:nth-child(3)>li:last-child>img{
    width:235px;
    height:330px;
}
#main-body>.details-lf>.travel-guide>ul:nth-child(3)>li:nth-child(2)>ul>li{
    width:493px;
}
/*楼层导航信息*/
#elevator{
    position: fixed;
    left:60px;
    top:85px;
}
#elevator>ul>li{
    width:35px;
    height:50px;
    padding-top: 10px;
    text-align: center;
    border-bottom: 1px dotted #888888;
}
#elevator>ul>li.current{
    background: #08AFB1;
}
#elevator>ul>li>a{
    font-size: 14px;
}
#elevator>ul>li>a:hover{
    text-decoration: none;
    color:#333;
}
/*底部信息*/
#tourism_tit{
    margin:10px auto;
    width:1200px;
    height:30px;
    line-height: 30px;
    border-bottom: 2px solid #666666;
}
#tourism_images{
    width:1200px;
    height:170px;
    margin:0 auto;
    overflow: hidden;
    position: relative;
}
#tourism_images>ul{
    margin-left: 3px;
    margin-top:0;
    position: absolute;
    top:0;
    transition: all 0.3s linear;
}
#tourism_images>ul>li{
    float:left;
    width:133px;
    height:95px;
    text-align: center;
}
#tourism_images>ul>li>p{
    margin-top:5px;
}
#tourism_images>ul>li>p>a:hover{
    text-decoration: none;
}
#offer-service{
    width:1200px;
    height:200px;
    margin:40px auto;
    margin-bottom: 0;
}
#offer-service>ul>li{
    float:left;
    width:133px;
    text-align: center;
}
#offer-service>ul>li>i{
    background: url(img/common_foot.png) no-repeat 0 -58px;
    display:inline-block;
    width:25px;
    height:23px;
}
#offer-service>ul>li:nth-child(2)>i{
    background-position: -26px -58px;
    width:21px ;
}
#offer-service>ul>li:nth-child(3)>i{
    background-position: -47px -58px;
    width:21px ;
}
#offer-service>ul>li:nth-child(4)>i{
    background-position: -68px -58px;
    width:21px ;
}
#offer-service>ul>li:nth-child(5)>i{
    background-position: -88px -60px;
    width:22px ;
}
#offer-service>ul>li:nth-child(6)>i{
    background-position: -111px -60px;
    width:21px ;
}
#offer-service>ul>li:nth-child(7)>i{
    background-position: -131px -59px;
    width:21px ;
}
#offer-service>ul>li:nth-child(8)>i{
    background-position: -154px -59px;
    width:21px ;
}
#offer-service>ul>li:nth-child(9)>i{
    background-position: -182px -60px;
    width:21px ;
}
#offer-service>.server-details>ul{
    float:left;
    margin: 20px 10px;
    width:176px;
    height:135px;
}
#offer-service>.server-details>ul:last-child{
    width:200px;
    position: relative;
}
#offer-service>.server-details>ul:last-child>li>i{
    background: url(img/common_foot.png) no-repeat -210px -2px;
    display: inline-block;
    width: 22px;
    height: 24px;
}
#offer-service>.server-details>ul>li:first-child{
    height:24px;
}
#offer-service>.server-details>ul:last-child>li>p{
    display: inline-block;
    position: relative;
    top:-8px;
}
#offer-service>.server-details>ul:last-child>span{
    background: url(img/serv_24.png) no-repeat 0 0;
    position: absolute;
    right:0;
    bottom:0;
    display: inline-block;
    width:56px;
    height:39px;
}
#offer-service>.server-details>ul>li{
    margin:6px 0;
}
#offer-service>.server-details>ul>li:first-child>p{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
#offer-service>.server-details>ul>li>a:hover{
    text-decoration: none;
    color: #666;
}