
a{
    font-size: 13px;
}
body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background: url(img/register_bg.jpg) no-repeat center top;
}
header{
    width:100%;
    height:100px;
    background: #fff;
    border-bottom: 3px solid #11A13A;
}
#head-bg{
    width:1200px;
    height:100px;
    margin: 0 auto;
}
#head-bg>img{
    margin-left:20px;
    margin-top:20px;
    padding-right:20px;
    float:left;
    border-right:1px solid #c0c0c0;
}
#head-bg>p{
    float:left;
    font-size: 22px;
    margin-left:20px;
    margin-top:30px;
}
#main-top{
    width:1200px;
    height:80px;
    margin:0 auto;
}
#main-top>span:first-child{
    background: url(img/re-decoration.png) no-repeat 0 0;
    float:left;
    display: inline-block;
    width:132px ;
    height:65px;
    margin-left:300px;
}
#main-top>p{
    display: inline-block;
    float:right;
    color:#fff;
    margin-right:30px;
    margin-top:25px;
}
#main-top>a{
    float:right;
    height:30px;
    line-height: 30px;
    width:50px;
    margin-top:20px;
    display: inline-block;
    border:1px solid #fff;
    color:#fff;
    text-align: center;
}
#main-reg{
    width:1200px;
    height:450px;
    margin:0 auto;
}
#main-reg>p{
    width:1200px;
    height:60px;
    line-height: 60px;
    background: #43B413;
    color:#fff;
    text-align: center;
    margin:0;
    font-size: 23px;
}
#main-reg>.reg-content{
    width:1200px;
    height:550px;
    background: #fff;
    padding-top:50px;
}
#main-reg>.reg-content>div.step{
    background: url(img/reg-step.png) no-repeat 0 -100px;
    width:560px;
    height:48px;
    margin:0 auto;
}
#main-reg>.reg-content ul{
    margin: 68px auto;
    width:605px;
    height:230px;
    padding-left: 164px;
}
#main-reg>.reg-content ul>li{
    list-style: none;
    margin:20px auto;
}
#main-reg>.reg-content ul>li:nth-child(2){
    margin-left: 32px;
}
#main-reg>.reg-content ul>li:nth-child(2)>span{
    font-size: 13px;
}
#main-reg>.reg-content ul>li:nth-child(3){
    margin-left: 16px;
}
#main-reg>.reg-content ul>li:nth-child(3)>input{
    width: 75px;
}
#main-reg>.reg-content ul>li:nth-child(3) #input{
    width: 180px;
}
#code{
    background:#08AFB1;
    font-style: italic;
    text-align: center;
}
#main-reg>.reg-content ul>li:nth-child(4){
    margin-left: 16px;
}
#main-reg>.reg-content ul>li:nth-child(4)>a{
    color:#333;
}
#main-reg>.reg-content ul>li>i{
    font-size: 12px;
    text-align: center;
    font-style: normal;
}
#main-reg>.reg-content ul>li>input{
    height:28px;
    width:260px;
    padding-left:5px;
}
#main-reg>.reg-content ul>li.agree{
    margin-left:24px;
}
#main-reg>.reg-content ul>li:last-child>input{
    width:14px;
    height:14px;
    position: relative;
    top:2px;
}
#main-reg>.reg-content ul>li:last-child>a{
    font-size: 13px;
}
#main-reg>.reg-content ul>li:last-child>a{
    color:#22C231;
    text-decoration: #11A13A;
}
#main-reg>.reg-content ul>li:last-child>span{
    font-size: 13px;
}
#main-reg>.reg-content>.next-step{
    width:215px;
    height:35px;
    line-height: 35px;
    background: #999;
    margin:0 auto;
    text-align: center;
}
#hint{
    border:1px solid #333;
    background: #CF5EB1;
    color:#fff;
    width:330px;
    height:50px;
    line-height: 50px;
    position: fixed;
    top:20%;
    left:10%;
    text-align:left;
    display: none;
}